{% extends 'base.html' %}

{% load static %}
{% block link %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

{% endblock %}
{% block content %}

<div class="PropertyContainer">

    {% include 'partials/_navbar.html' %}
           

    <section id="register" class="bg-light py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="card">
                    <div class="card-header bg-secondary text-white">
                      <h3 class="heading-4">
                        Register </h3>
                    </div>
                    <div class="card-body">

                        {% include 'partials/_alert.html' %}

                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token  %}
                          <div class="form-group">
                          <label class="para" for="first_name">First Name</label>
                          <input type="text" name="first_name" class="modal-input form-control" required>
                        </div>
                        <div class="form-group">
                          <label class="para" for="last_name">Last Name</label>
                          <input type="text" name="last_name" class="modal-input form-control" required>
                        </div>
                        <div class="form-group">
                          <label class="para" for="username">Username</label>
                          <input type="text" name="username" class="modal-input form-control" required>
                        </div>
                        <div class="form-group">
                          <label class="para" for="email">Email</label>
                          <input type="email" name="email" class="modal-input form-control" required>
                        </div>
                        <div class="form-group">
                          <label class="para" for="password2">Password</label>
                          <input type="password" name="password" class="modal-input form-control" required>
                        </div>
                        <div class="form-group">
                          <label class="para" for="password">Confirm Password</label>
                          <input type="password" name="password2" class="modal-input form-control" required>
                        </div>
                        <input type="submit" value="Register" class="btn-pri">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

</div>
      {% include 'partials/_footer.html' %}
{% endblock %}
